<div class="c-container">
    {% if request.user.is_authenticated %}
    <div class="btn-add-crud">
        <button type="submit"><a href="{%url 'transf_new' %}">ADD</a></button>
        <form action="{%url 'export_xls' %}" method="POST">
            {% csrf_token %}
            <input type="month" name="data_xls" id="data_xls">
            <button type="submit"><span class="material-symbols-outlined">
                    export_notes
                </span></button>
        </form>
    </div>
    {% endif %}
    <ul class='head-crud'>
        <li>
            Paciente
        </li>
        <li>
            Data Transferência
        </li>
        <li>
            Senha CDL
        </li>
        <li>
            Ações
        </li>
    </ul>
    <ul class="search-title">
        <li>
            <form action="." method="GET">
                <input type="search" name="pac">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="date">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="scd">
            </form>
        </li>
        <li>
        </li>
    </ul>
    {% for transfer in transfers %}
    <ul>
        <li>
            {{transfer.pac}}
        </li>
        <li>
            {{transfer.date_transf}}
        </li>
        <li>
            {{transfer.scd}}
        </li>
        <li>
            <div class="btn-edit-crud">
                <div class="btn-view">
                    <button type="submit"><a href="{%url 'dashboard_view' transfer.id %}">
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                        </a></button>
                </div>
                <button type="submit"><a href="{%url 'transf_edit' transfer.id %}">
                        <span class="material-symbols-outlined">
                            edit_note
                        </span>
                    </a></button>
                <form class="btn-delete form-delete" action="{% url 'trasnf_delete' transfer.id %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit">
                        <span class="material-symbols-outlined">
                            delete
                        </span></button>
                </form>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>