{% load static %}

<div class="return-btn view">
    <form action="{%url 'dashboard' %}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="username" value="{{request.user.username}}">
        <button type="submit">
            <img src="{% static 'arrow.svg' %}" alt="arrow-return">
        </button>
    </form>
</div>

<div class="titulo-called">
    <h1>{{transf.author.first_name}} </h1>
</div>
<div class="describs-called">
    <h1>Defeito Relatado:</h1>
    <p>{{called.call_defect}}</p>
    <h1>Solução Aplicada:</h1>
    <p>{{called.description}}</p>
    <h1>Pendencias:</h1>
    <p>{{called.pendencies}}</p>
    <h1>Solução Aplicada em:</h1>
    <p>{{called.appliedsolution}}</p>
</div>